# Prediction of used car prices

Loading required libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

from sklearn.metrics import r2_score

# Import Data

In [2]:
df_tr=pd.read_csv('data_train.csv')
df_te=pd.read_csv('data_test.csv')
df_tr.shape, df_te.shape

((50000, 17), (27000, 17))

In [3]:
df_tr.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,Volkswagen,automatic,black,130000,2016,diesel,diesel,1.6,universal,False,owned,front,True,17,38,67,13150.0
1,Renault,manual,brown,149000,2012,gasoline,gasoline,1.6,sedan,False,owned,front,False,9,3,100,7500.0
2,Kia,automatic,brown,110000,2014,gasoline,gasoline,1.6,hatchback,False,owned,front,False,5,10,91,12200.0
3,Opel,automatic,other,255100,2007,gasoline,gasoline,1.8,hatchback,False,owned,front,False,10,4,91,4950.0
4,Mazda,manual,blue,650000,1999,gasoline,gasoline,2.0,sedan,False,owned,front,True,5,7,62,3000.0

Checking null values

In [4]:
df_tr.isnull().sum()

manufacturer_name         0
transmission              0
color                     0
odometer_value            0
year_produced             0
engine_fuel               0
engine_type               0
engine_capacity          15
body_type                 0
has_warranty              0
ownership                 0
type_of_drive             0
is_exchangeable           0
number_of_photos          0
number_of_maintenance     0
duration_listed           0
price_usd                 0
dtype: int64

In [5]:
df_te.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          5
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

Dropping na values

In [6]:
dataTrain=df_tr.dropna()
dataTest=df_te.dropna()

In [7]:
dataTrain.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [8]:
dataTrain.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [9]:
dataTest.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [10]:
dataTrain.drop(['number_of_maintenance', 'duration_listed', 'engine_type','is_exchangeable'], axis = 1, inplace = True)

C:\Users\vinod\AppData\Local\Temp\ipykernel_19348\2786449281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataTrain.drop(['number_of_maintenance', 'duration_listed', 'engine_type','is_exchangeable'], axis = 1, inplace = True)

In [11]:
dataTest.drop(['number_of_maintenance', 'duration_listed', 'engine_type','is_exchangeable'], axis = 1, inplace = True)

C:\Users\vinod\AppData\Local\Temp\ipykernel_19348\147954485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataTest.drop(['number_of_maintenance', 'duration_listed', 'engine_type','is_exchangeable'], axis = 1, inplace = True)

In [12]:
dataTrain.shape, dataTest.shape

((49985, 13), (26995, 13))

In [13]:
dataTrain.dtypes

manufacturer_name     object
transmission          object
color                 object
odometer_value         int64
year_produced          int64
engine_fuel           object
engine_capacity      float64
body_type             object
has_warranty            bool
ownership             object
type_of_drive         object
number_of_photos       int64
price_usd            float64
dtype: object

In [14]:
dataTrain.describe()

,odometer_value,year_produced,engine_capacity,number_of_photos,price_usd
count,49985.000000,49985.000000,49985.000000,49985.000000,49985.000000
mean,249275.754426,2002.942143,2.056894,9.660958,6651.131653
std,136342.510114,8.065809,0.675106,6.144711,6462.573155
min,0.000000,1942.000000,0.200000,1.000000,1.000000
25%,158000.000000,1998.000000,1.600000,5.000000,2100.000000
50%,250000.000000,2003.000000,2.000000,8.000000,4800.000000
75%,325000.000000,2009.000000,2.300000,12.000000,8963.290000
max,1000000.000000,2019.000000,8.000000,86.000000,50000.000000

In [15]:
dataTest.describe()

,odometer_value,year_produced,engine_capacity,number_of_photos,price_usd
count,26995.000000,26995.000000,26995.000000,26995.000000,26995.000000
mean,248253.283497,2002.935655,2.052027,9.623597,6610.308694
std,135573.549451,8.063814,0.663980,5.997012,6357.865198
min,0.000000,1942.000000,0.200000,1.000000,1.000000
25%,157000.000000,1998.000000,1.600000,5.000000,2150.000000
50%,249000.000000,2003.000000,2.000000,8.000000,4799.000000
75%,324000.000000,2009.000000,2.300000,12.000000,8950.000000
max,1000000.000000,2019.000000,8.000000,71.000000,50000.000000

Data preprosessing

In [16]:
X_train = pd.get_dummies(dataTrain, drop_first=True)
X_test = pd.get_dummies(dataTest, drop_first=True)
X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

In [17]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Converting boolen to int

In [18]:
# Identify boolean columns
bool_columns = X_train.select_dtypes(include='bool').columns

# Convert those columns to integers
X_train[bool_columns] = X_train[bool_columns].astype(int)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49985 entries, 0 to 49999
Data columns (total 91 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   odometer_value                   49985 non-null  int64
 1   year_produced                    49985 non-null  int64
 2   engine_capacity                  49985 non-null  float64
 3   has_warranty                     49985 non-null  int32
 4   number_of_photos                 49985 non-null  int64
 5   price_usd                        49985 non-null  float64
 6   manufacturer_name_Alfa Romeo     49985 non-null  int32
 7   manufacturer_name_Audi           49985 non-null  int32
 8   manufacturer_name_BMW            49985 non-null  int32
 9   manufacturer_name_Buick          49985 non-null  int32
 10  manufacturer_name_Cadillac       49985 non-null  int32
 11  manufacturer_name_Chery          49985 non-null  int32
 12  manufacturer_name_Chevrolet      49985 non-null  int32
 13  manufacturer_name_Chrysler       49985 non-null  int32
 14  manufacturer_name_Citroen        49985 non-null  int32
 15  manufacturer_name_Dacia          49985 non-null  int32
 16  manufacturer_name_Daewoo         49985 non-null  int32
 17  manufacturer_name_Dodge          49985 non-null  int32
 18  manufacturer_name_Fiat           49985 non-null  int32
 19  manufacturer_name_Ford           49985 non-null  int32
 20  manufacturer_name_Geely          49985 non-null  int32
 21  manufacturer_name_Great Wall     49985 non-null  int32
 22  manufacturer_name_Honda          49985 non-null  int32
 23  manufacturer_name_Hyundai        49985 non-null  int32
 24  manufacturer_name_Infiniti       49985 non-null  int32
 25  manufacturer_name_Iveco          49985 non-null  int32
 26  manufacturer_name_Jaguar         49985 non-null  int32
 27  manufacturer_name_Jeep           49985 non-null  int32
 28  manufacturer_name_Kia            49985 non-null  int32
 29  manufacturer_name_LADA           49985 non-null  int32
 30  manufacturer_name_Lancia         49985 non-null  int32
 31  manufacturer_name_Land Rover     49985 non-null  int32
 32  manufacturer_name_Lexus          49985 non-null  int32
 33  manufacturer_name_Lifan          49985 non-null  int32
 34  manufacturer_name_Lincoln        49985 non-null  int32
 35  manufacturer_name_Mazda          49985 non-null  int32
 36  manufacturer_name_Mercedes-Benz  49985 non-null  int32
 37  manufacturer_name_Mini           49985 non-null  int32
 38  manufacturer_name_Mitsubishi     49985 non-null  int32
 39  manufacturer_name_Nissan         49985 non-null  int32
 40  manufacturer_name_Opel           49985 non-null  int32
 41  manufacturer_name_Peugeot        49985 non-null  int32
 42  manufacturer_name_Pontiac        49985 non-null  int32
 43  manufacturer_name_Porsche        49985 non-null  int32
 44  manufacturer_name_Renault        49985 non-null  int32
 45  manufacturer_name_Rover          49985 non-null  int32
 46  manufacturer_name_Saab           49985 non-null  int32
 47  manufacturer_name_Seat           49985 non-null  int32
 48  manufacturer_name_Skoda          49985 non-null  int32
 49  manufacturer_name_SsangYong      49985 non-null  int32
 50  manufacturer_name_Subaru         49985 non-null  int32
 51  manufacturer_name_Suzuki         49985 non-null  int32
 52  manufacturer_name_Toyota         49985 non-null  int32
 53  manufacturer_name_Volkswagen     49985 non-null  int32
 54  manufacturer_name_Volvo          49985 non-null  int32
 55  manufacturer_name_ВАЗ            49985 non-null  int32
 56  manufacturer_name_ГАЗ            49985 non-null  int32
 57  manufacturer_name_ЗАЗ            49985 non-null  int32
 58  manufacturer_name_Москвич        49985 non-null  int32
 59  manufacturer_name_УАЗ            49985 non-null  int32
 60  transmission_manual              49985 non-null  int32
 61  color_blue                       49985 non-null  int32
 62  color_brown                      49985 non-null  int32
 63  color_green                      49985 non-null  int32
 64  color_grey                       49985 non-null  int32
 65  color_orange                     49985 non-null  int32
 66  color_other                      49985 non-null  int32
 67  color_red                        49985 non-null  int32
 68  color_silver                     49985 non-null  int32
 69  color_violet                     49985 non-null  int32
 70  color_white                      49985 non-null  int32
 71  color_yellow                     49985 non-null  int32
 72  engine_fuel_gas                  49985 non-null  int32
 73  engine_fuel_gasoline             49985 non-null  int32
 74  engine_fuel_hybrid-diesel        49985 non-null  int32
 75  engine_fuel_hybrid-petrol        49985 non-null  int32
 76  body_type_coupe                  49985 non-null  int32
 77  body_type_hatchback              49985 non-null  int32
 78  body_type_liftback               49985 non-null  int32
 79  body_type_limousine              49985 non-null  int32
 80  body_type_minibus                49985 non-null  int32
 81  body_type_minivan                49985 non-null  int32
 82  body_type_pickup                 49985 non-null  int32
 83  body_type_sedan                  49985 non-null  int32
 84  body_type_suv                    49985 non-null  int32
 85  body_type_universal              49985 non-null  int32
 86  body_type_van                    49985 non-null  int32
 87  ownership_new                    49985 non-null  int32
 88  ownership_owned                  49985 non-null  int32
 89  type_of_drive_front              49985 non-null  int32
 90  type_of_drive_rear               49985 non-null  int32
dtypes: float64(2), int32(86), int64(3)
memory usage: 18.7 MB

In [19]:
# Identify boolean columns
bool_columns = X_test.select_dtypes(include='bool').columns

# Convert those columns to integers
X_test[bool_columns] = X_test[bool_columns].astype(int)
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26995 entries, 0 to 26999
Data columns (total 91 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   odometer_value                   26995 non-null  int64
 1   year_produced                    26995 non-null  int64
 2   engine_capacity                  26995 non-null  float64
 3   has_warranty                     26995 non-null  int32
 4   number_of_photos                 26995 non-null  int64
 5   price_usd                        26995 non-null  float64
 6   manufacturer_name_Alfa Romeo     26995 non-null  int32
 7   manufacturer_name_Audi           26995 non-null  int32
 8   manufacturer_name_BMW            26995 non-null  int32
 9   manufacturer_name_Buick          26995 non-null  int32
 10  manufacturer_name_Cadillac       26995 non-null  int32
 11  manufacturer_name_Chery          26995 non-null  int32
 12  manufacturer_name_Chevrolet      26995 non-null  int32
 13  manufacturer_name_Chrysler       26995 non-null  int32
 14  manufacturer_name_Citroen        26995 non-null  int32
 15  manufacturer_name_Dacia          26995 non-null  int32
 16  manufacturer_name_Daewoo         26995 non-null  int32
 17  manufacturer_name_Dodge          26995 non-null  int32
 18  manufacturer_name_Fiat           26995 non-null  int32
 19  manufacturer_name_Ford           26995 non-null  int32
 20  manufacturer_name_Geely          26995 non-null  int32
 21  manufacturer_name_Great Wall     26995 non-null  int32
 22  manufacturer_name_Honda          26995 non-null  int32
 23  manufacturer_name_Hyundai        26995 non-null  int32
 24  manufacturer_name_Infiniti       26995 non-null  int32
 25  manufacturer_name_Iveco          26995 non-null  int32
 26  manufacturer_name_Jaguar         26995 non-null  int32
 27  manufacturer_name_Jeep           26995 non-null  int32
 28  manufacturer_name_Kia            26995 non-null  int32
 29  manufacturer_name_LADA           26995 non-null  int32
 30  manufacturer_name_Lancia         26995 non-null  int32
 31  manufacturer_name_Land Rover     26995 non-null  int32
 32  manufacturer_name_Lexus          26995 non-null  int32
 33  manufacturer_name_Lifan          26995 non-null  int32
 34  manufacturer_name_Lincoln        26995 non-null  int32
 35  manufacturer_name_Mazda          26995 non-null  int32
 36  manufacturer_name_Mercedes-Benz  26995 non-null  int32
 37  manufacturer_name_Mini           26995 non-null  int32
 38  manufacturer_name_Mitsubishi     26995 non-null  int32
 39  manufacturer_name_Nissan         26995 non-null  int32
 40  manufacturer_name_Opel           26995 non-null  int32
 41  manufacturer_name_Peugeot        26995 non-null  int32
 42  manufacturer_name_Pontiac        26995 non-null  int32
 43  manufacturer_name_Porsche        26995 non-null  int32
 44  manufacturer_name_Renault        26995 non-null  int32
 45  manufacturer_name_Rover          26995 non-null  int32
 46  manufacturer_name_Saab           26995 non-null  int32
 47  manufacturer_name_Seat           26995 non-null  int32
 48  manufacturer_name_Skoda          26995 non-null  int32
 49  manufacturer_name_SsangYong      26995 non-null  int32
 50  manufacturer_name_Subaru         26995 non-null  int32
 51  manufacturer_name_Suzuki         26995 non-null  int32
 52  manufacturer_name_Toyota         26995 non-null  int32
 53  manufacturer_name_Volkswagen     26995 non-null  int32
 54  manufacturer_name_Volvo          26995 non-null  int32
 55  manufacturer_name_ВАЗ            26995 non-null  int32
 56  manufacturer_name_ГАЗ            26995 non-null  int32
 57  manufacturer_name_ЗАЗ            26995 non-null  int32
 58  manufacturer_name_Москвич        26995 non-null  int32
 59  manufacturer_name_УАЗ            26995 non-null  int32
 60  transmission_manual              26995 non-null  int32
 61  color_blue                       26995 non-null  int32
 62  color_brown                      26995 non-null  int32
 63  color_green                      26995 non-null  int32
 64  color_grey                       26995 non-null  int32
 65  color_orange                     26995 non-null  int32
 66  color_other                      26995 non-null  int32
 67  color_red                        26995 non-null  int32
 68  color_silver                     26995 non-null  int32
 69  color_violet                     26995 non-null  int32
 70  color_white                      26995 non-null  int32
 71  color_yellow                     26995 non-null  int32
 72  engine_fuel_gas                  26995 non-null  int32
 73  engine_fuel_gasoline             26995 non-null  int32
 74  engine_fuel_hybrid-diesel        26995 non-null  int64
 75  engine_fuel_hybrid-petrol        26995 non-null  int32
 76  body_type_coupe                  26995 non-null  int32
 77  body_type_hatchback              26995 non-null  int32
 78  body_type_liftback               26995 non-null  int32
 79  body_type_limousine              26995 non-null  int32
 80  body_type_minibus                26995 non-null  int32
 81  body_type_minivan                26995 non-null  int32
 82  body_type_pickup                 26995 non-null  int32
 83  body_type_sedan                  26995 non-null  int32
 84  body_type_suv                    26995 non-null  int32
 85  body_type_universal              26995 non-null  int32
 86  body_type_van                    26995 non-null  int32
 87  ownership_new                    26995 non-null  int32
 88  ownership_owned                  26995 non-null  int32
 89  type_of_drive_front              26995 non-null  int32
 90  type_of_drive_rear               26995 non-null  int32
dtypes: float64(2), int32(85), int64(4)
memory usage: 10.2 MB

In [20]:
X_train1=X_train.drop(columns=['price_usd'])
y_train=X_train['price_usd']
#test set
X_test1=X_test.drop(columns=['price_usd'])
y_test=X_test['price_usd']

In [21]:
X_train1.shape, y_train.shape, X_test1.shape, y_test.shape

((49985, 90), (49985,), (26995, 90), (26995,))

In [22]:
from sklearn.model_selection import train_test_split

X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train1, y_train, test_size=0.05, random_state=42)

In [23]:
X_train_split.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47485 entries, 25051 to 15799
Data columns (total 90 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   odometer_value                   47485 non-null  int64
 1   year_produced                    47485 non-null  int64
 2   engine_capacity                  47485 non-null  float64
 3   has_warranty                     47485 non-null  int32
 4   number_of_photos                 47485 non-null  int64
 5   manufacturer_name_Alfa Romeo     47485 non-null  int32
 6   manufacturer_name_Audi           47485 non-null  int32
 7   manufacturer_name_BMW            47485 non-null  int32
 8   manufacturer_name_Buick          47485 non-null  int32
 9   manufacturer_name_Cadillac       47485 non-null  int32
 10  manufacturer_name_Chery          47485 non-null  int32
 11  manufacturer_name_Chevrolet      47485 non-null  int32
 12  manufacturer_name_Chrysler       47485 non-null  int32
 13  manufacturer_name_Citroen        47485 non-null  int32
 14  manufacturer_name_Dacia          47485 non-null  int32
 15  manufacturer_name_Daewoo         47485 non-null  int32
 16  manufacturer_name_Dodge          47485 non-null  int32
 17  manufacturer_name_Fiat           47485 non-null  int32
 18  manufacturer_name_Ford           47485 non-null  int32
 19  manufacturer_name_Geely          47485 non-null  int32
 20  manufacturer_name_Great Wall     47485 non-null  int32
 21  manufacturer_name_Honda          47485 non-null  int32
 22  manufacturer_name_Hyundai        47485 non-null  int32
 23  manufacturer_name_Infiniti       47485 non-null  int32
 24  manufacturer_name_Iveco          47485 non-null  int32
 25  manufacturer_name_Jaguar         47485 non-null  int32
 26  manufacturer_name_Jeep           47485 non-null  int32
 27  manufacturer_name_Kia            47485 non-null  int32
 28  manufacturer_name_LADA           47485 non-null  int32
 29  manufacturer_name_Lancia         47485 non-null  int32
 30  manufacturer_name_Land Rover     47485 non-null  int32
 31  manufacturer_name_Lexus          47485 non-null  int32
 32  manufacturer_name_Lifan          47485 non-null  int32
 33  manufacturer_name_Lincoln        47485 non-null  int32
 34  manufacturer_name_Mazda          47485 non-null  int32
 35  manufacturer_name_Mercedes-Benz  47485 non-null  int32
 36  manufacturer_name_Mini           47485 non-null  int32
 37  manufacturer_name_Mitsubishi     47485 non-null  int32
 38  manufacturer_name_Nissan         47485 non-null  int32
 39  manufacturer_name_Opel           47485 non-null  int32
 40  manufacturer_name_Peugeot        47485 non-null  int32
 41  manufacturer_name_Pontiac        47485 non-null  int32
 42  manufacturer_name_Porsche        47485 non-null  int32
 43  manufacturer_name_Renault        47485 non-null  int32
 44  manufacturer_name_Rover          47485 non-null  int32
 45  manufacturer_name_Saab           47485 non-null  int32
 46  manufacturer_name_Seat           47485 non-null  int32
 47  manufacturer_name_Skoda          47485 non-null  int32
 48  manufacturer_name_SsangYong      47485 non-null  int32
 49  manufacturer_name_Subaru         47485 non-null  int32
 50  manufacturer_name_Suzuki         47485 non-null  int32
 51  manufacturer_name_Toyota         47485 non-null  int32
 52  manufacturer_name_Volkswagen     47485 non-null  int32
 53  manufacturer_name_Volvo          47485 non-null  int32
 54  manufacturer_name_ВАЗ            47485 non-null  int32
 55  manufacturer_name_ГАЗ            47485 non-null  int32
 56  manufacturer_name_ЗАЗ            47485 non-null  int32
 57  manufacturer_name_Москвич        47485 non-null  int32
 58  manufacturer_name_УАЗ            47485 non-null  int32
 59  transmission_manual              47485 non-null  int32
 60  color_blue                       47485 non-null  int32
 61  color_brown                      47485 non-null  int32
 62  color_green                      47485 non-null  int32
 63  color_grey                       47485 non-null  int32
 64  color_orange                     47485 non-null  int32
 65  color_other                      47485 non-null  int32
 66  color_red                        47485 non-null  int32
 67  color_silver                     47485 non-null  int32
 68  color_violet                     47485 non-null  int32
 69  color_white                      47485 non-null  int32
 70  color_yellow                     47485 non-null  int32
 71  engine_fuel_gas                  47485 non-null  int32
 72  engine_fuel_gasoline             47485 non-null  int32
 73  engine_fuel_hybrid-diesel        47485 non-null  int32
 74  engine_fuel_hybrid-petrol        47485 non-null  int32
 75  body_type_coupe                  47485 non-null  int32
 76  body_type_hatchback              47485 non-null  int32
 77  body_type_liftback               47485 non-null  int32
 78  body_type_limousine              47485 non-null  int32
 79  body_type_minibus                47485 non-null  int32
 80  body_type_minivan                47485 non-null  int32
 81  body_type_pickup                 47485 non-null  int32
 82  body_type_sedan                  47485 non-null  int32
 83  body_type_suv                    47485 non-null  int32
 84  body_type_universal              47485 non-null  int32
 85  body_type_van                    47485 non-null  int32
 86  ownership_new                    47485 non-null  int32
 87  ownership_owned                  47485 non-null  int32
 88  type_of_drive_front              47485 non-null  int32
 89  type_of_drive_rear               47485 non-null  int32
dtypes: float64(1), int32(86), int64(3)
memory usage: 17.4 MB

In [24]:
X_train_split.shape,y_train_split.shape,X_val_split.shape,y_val_split.shape,X_test1.shape,y_test.shape

((47485, 90), (47485,), (2500, 90), (2500,), (26995, 90), (26995,))

Model building

In [25]:
tf.random.set_seed(42)

# Build the model
model = tf.keras.Sequential()

# Input layer (automatically determined by input shape)
model.add(tf.keras.layers.InputLayer(input_shape=(X_train1.shape[1],)))

# Hidden layers\
model.add(tf.keras.layers.Dense(400, activation='relu'))

model.add(tf.keras.layers.Dense(400, activation='relu'))
model.add(tf.keras.layers.Dense(200, activation='relu'))  
model.add(tf.keras.layers.Dense(200, activation='relu'))
model.add(tf.keras.layers.Dense(150, activation='relu'))
model.add(tf.keras.layers.Dense(150, activation='relu'))
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(50, activation='relu'))


# Output layer
model.add(tf.keras.layers.Dense(1,activation='relu'))  # For regression, no activation function is used for the output layer

# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=optimizer, loss='mae', metrics=['mae'])

In [26]:
# Train the model
history = model.fit(X_train_split, y_train_split, 
                    epochs=80, 
                    batch_size=256, 
                    validation_data=(X_val_split, y_val_split))

Epoch 1/80
186/186 [==============================] - 4s 7ms/step - loss: 5316.9590 - mae: 5316.9590 - val_loss: 5405.2246 - val_mae: 5405.2246
Epoch 2/80
186/186 [==============================] - 1s 7ms/step - loss: 4159.0132 - mae: 4159.0132 - val_loss: 4712.0640 - val_mae: 4712.0640
Epoch 3/80
186/186 [==============================] - 1s 7ms/step - loss: 4001.1028 - mae: 4001.1028 - val_loss: 4518.7598 - val_mae: 4518.7598
Epoch 4/80
186/186 [==============================] - 1s 6ms/step - loss: 3907.0710 - mae: 3907.0710 - val_loss: 4245.0498 - val_mae: 4245.0498
Epoch 5/80
186/186 [==============================] - 1s 6ms/step - loss: 3898.5142 - mae: 3898.5142 - val_loss: 4172.6147 - val_mae: 4172.6147
Epoch 6/80
186/186 [==============================] - 1s 6ms/step - loss: 3868.5425 - mae: 3868.5425 - val_loss: 3898.0532 - val_mae: 3898.0532
Epoch 7/80
186/186 [==============================] - 1s 6ms/step - loss: 3849.3962 - mae: 3849.3962 - val_loss: 4249.1685 - val_mae: 4249.1685
Epoch 8/80
186/186 [==============================] - 1s 6ms/step - loss: 3852.6130 - mae: 3852.6130 - val_loss: 4391.0444 - val_mae: 4391.0444
Epoch 9/80
186/186 [==============================] - 1s 6ms/step - loss: 3803.8804 - mae: 3803.8804 - val_loss: 4244.5000 - val_mae: 4244.4995
Epoch 10/80
186/186 [==============================] - 1s 6ms/step - loss: 3809.2852 - mae: 3809.2852 - val_loss: 4238.6382 - val_mae: 4238.6382
Epoch 11/80
186/186 [==============================] - 1s 6ms/step - loss: 3771.1243 - mae: 3771.1243 - val_loss: 4275.8975 - val_mae: 4275.8975
Epoch 12/80
186/186 [==============================] - 1s 6ms/step - loss: 3780.3877 - mae: 3780.3877 - val_loss: 4370.0742 - val_mae: 4370.0742
Epoch 13/80
186/186 [==============================] - 1s 6ms/step - loss: 3770.9448 - mae: 3770.9448 - val_loss: 4360.6206 - val_mae: 4360.6206
Epoch 14/80
186/186 [==============================] - 1s 6ms/step - loss: 3762.6965 - mae: 3762.6965 - val_loss: 4644.5806 - val_mae: 4644.5806
Epoch 15/80
186/186 [==============================] - 1s 7ms/step - loss: 3766.8696 - mae: 3766.8696 - val_loss: 4284.6108 - val_mae: 4284.6108
Epoch 16/80
186/186 [==============================] - 1s 6ms/step - loss: 3730.4116 - mae: 3730.4116 - val_loss: 4094.4116 - val_mae: 4094.4116
Epoch 17/80
186/186 [==============================] - 1s 6ms/step - loss: 3720.7546 - mae: 3720.7546 - val_loss: 4401.4248 - val_mae: 4401.4248
Epoch 18/80
186/186 [==============================] - 1s 6ms/step - loss: 3729.1143 - mae: 3729.1143 - val_loss: 4589.7808 - val_mae: 4589.7808
Epoch 19/80
186/186 [==============================] - 1s 6ms/step - loss: 3729.3623 - mae: 3729.3623 - val_loss: 4443.4058 - val_mae: 4443.4058
Epoch 20/80
186/186 [==============================] - 1s 6ms/step - loss: 3715.5928 - mae: 3715.5928 - val_loss: 4206.8589 - val_mae: 4206.8589
Epoch 21/80
186/186 [==============================] - 1s 6ms/step - loss: 3710.7549 - mae: 3710.7549 - val_loss: 4476.2090 - val_mae: 4476.2090
Epoch 22/80
186/186 [==============================] - 1s 6ms/step - loss: 3694.0393 - mae: 3694.0393 - val_loss: 4388.4849 - val_mae: 4388.4849
Epoch 23/80
186/186 [==============================] - 1s 6ms/step - loss: 3688.8711 - mae: 3688.8711 - val_loss: 4211.2690 - val_mae: 4211.2690
Epoch 24/80
186/186 [==============================] - 1s 6ms/step - loss: 3714.2595 - mae: 3714.2595 - val_loss: 4295.9087 - val_mae: 4295.9087
Epoch 25/80
186/186 [==============================] - 1s 6ms/step - loss: 3683.4622 - mae: 3683.4622 - val_loss: 4786.1582 - val_mae: 4786.1582
Epoch 26/80
186/186 [==============================] - 1s 6ms/step - loss: 3682.2339 - mae: 3682.2339 - val_loss: 4450.4653 - val_mae: 4450.4653
Epoch 27/80
186/186 [==============================] - 1s 6ms/step - loss: 3678.2520 - mae: 3678.2520 - val_loss: 4262.7065 - val_mae: 4262.7065
Epoch 28/80
186/186 [==============================] - 1s 6ms/step - loss: 3669.2314 - mae: 3669.2314 - val_loss: 4483.5366 - val_mae: 4483.5366
Epoch 29/80
186/186 [==============================] - 1s 6ms/step - loss: 3661.3970 - mae: 3661.3970 - val_loss: 4573.6318 - val_mae: 4573.6318
Epoch 30/80
186/186 [==============================] - 1s 6ms/step - loss: 3644.5166 - mae: 3644.5166 - val_loss: 4348.5186 - val_mae: 4348.5186
Epoch 31/80
186/186 [==============================] - 1s 6ms/step - loss: 3624.8455 - mae: 3624.8455 - val_loss: 4803.0586 - val_mae: 4803.0586
Epoch 32/80
186/186 [==============================] - 1s 6ms/step - loss: 3648.6675 - mae: 3648.6675 - val_loss: 4407.2720 - val_mae: 4407.2720
Epoch 33/80
186/186 [==============================] - 1s 6ms/step - loss: 3606.3064 - mae: 3606.3064 - val_loss: 4130.9458 - val_mae: 4130.9458
Epoch 34/80
186/186 [==============================] - 1s 7ms/step - loss: 3592.8594 - mae: 3592.8594 - val_loss: 4445.2417 - val_mae: 4445.2417
Epoch 35/80
186/186 [==============================] - 1s 7ms/step - loss: 3585.7771 - mae: 3585.7771 - val_loss: 4608.6406 - val_mae: 4608.6406
Epoch 36/80
186/186 [==============================] - 1s 7ms/step - loss: 3583.0107 - mae: 3583.0107 - val_loss: 4393.9956 - val_mae: 4393.9956
Epoch 37/80
186/186 [==============================] - 1s 6ms/step - loss: 3568.8042 - mae: 3568.8042 - val_loss: 4576.1240 - val_mae: 4576.1240
Epoch 38/80
186/186 [==============================] - 1s 6ms/step - loss: 3569.3350 - mae: 3569.3350 - val_loss: 4136.3438 - val_mae: 4136.3438
Epoch 39/80
186/186 [==============================] - 1s 7ms/step - loss: 3540.6013 - mae: 3540.6013 - val_loss: 4548.5913 - val_mae: 4548.5913
Epoch 40/80
186/186 [==============================] - 1s 6ms/step - loss: 3555.1992 - mae: 3555.1992 - val_loss: 4688.7529 - val_mae: 4688.7529
Epoch 41/80
186/186 [==============================] - 1s 6ms/step - loss: 3536.1001 - mae: 3536.1001 - val_loss: 4643.4927 - val_mae: 4643.4927
Epoch 42/80
186/186 [==============================] - 1s 6ms/step - loss: 3529.0366 - mae: 3529.0366 - val_loss: 4677.3281 - val_mae: 4677.3281
Epoch 43/80
186/186 [==============================] - 1s 6ms/step - loss: 3532.5920 - mae: 3532.5920 - val_loss: 4042.7551 - val_mae: 4042.7551
Epoch 44/80
186/186 [==============================] - 1s 6ms/step - loss: 3498.1394 - mae: 3498.1394 - val_loss: 4345.4409 - val_mae: 4345.4409
Epoch 45/80
186/186 [==============================] - 1s 6ms/step - loss: 3492.4854 - mae: 3492.4854 - val_loss: 4343.7979 - val_mae: 4343.7979
Epoch 46/80
186/186 [==============================] - 1s 6ms/step - loss: 3495.5449 - mae: 3495.5449 - val_loss: 4181.3213 - val_mae: 4181.3213
Epoch 47/80
186/186 [==============================] - 1s 6ms/step - loss: 3486.0139 - mae: 3486.0139 - val_loss: 4543.9585 - val_mae: 4543.9585
Epoch 48/80
186/186 [==============================] - 1s 6ms/step - loss: 3495.2454 - mae: 3495.2454 - val_loss: 4129.2822 - val_mae: 4129.2822
Epoch 49/80
186/186 [==============================] - 1s 6ms/step - loss: 3484.0886 - mae: 3484.0886 - val_loss: 4718.2095 - val_mae: 4718.2095
Epoch 50/80
186/186 [==============================] - 1s 6ms/step - loss: 3440.0159 - mae: 3440.0159 - val_loss: 4497.0864 - val_mae: 4497.0864
Epoch 51/80
186/186 [==============================] - 1s 6ms/step - loss: 3445.1294 - mae: 3445.1294 - val_loss: 4520.4448 - val_mae: 4520.4448
Epoch 52/80
186/186 [==============================] - 1s 6ms/step - loss: 3475.8877 - mae: 3475.8877 - val_loss: 4497.4102 - val_mae: 4497.4102
Epoch 53/80
186/186 [==============================] - 1s 6ms/step - loss: 3432.9478 - mae: 3432.9478 - val_loss: 4354.4463 - val_mae: 4354.4463
Epoch 54/80
186/186 [==============================] - 1s 6ms/step - loss: 3452.2214 - mae: 3452.2214 - val_loss: 4334.6147 - val_mae: 4334.6147
Epoch 55/80
186/186 [==============================] - 1s 6ms/step - loss: 3421.7944 - mae: 3421.7944 - val_loss: 4549.1768 - val_mae: 4549.1768
Epoch 56/80
186/186 [==============================] - 1s 6ms/step - loss: 3424.4067 - mae: 3424.4067 - val_loss: 4719.8472 - val_mae: 4719.8472
Epoch 57/80
186/186 [==============================] - 1s 6ms/step - loss: 3450.6523 - mae: 3450.6523 - val_loss: 4369.5605 - val_mae: 4369.5605
Epoch 58/80
186/186 [==============================] - 1s 7ms/step - loss: 3396.0793 - mae: 3396.0793 - val_loss: 4236.9634 - val_mae: 4236.9634
Epoch 59/80
186/186 [==============================] - 1s 6ms/step - loss: 3434.4380 - mae: 3434.4380 - val_loss: 4460.7769 - val_mae: 4460.7769
Epoch 60/80
186/186 [==============================] - 1s 6ms/step - loss: 3500.7212 - mae: 3500.7212 - val_loss: 4102.1641 - val_mae: 4102.1641
Epoch 61/80
186/186 [==============================] - 1s 6ms/step - loss: 3428.7732 - mae: 3428.7732 - val_loss: 4162.4683 - val_mae: 4162.4683
Epoch 62/80
186/186 [==============================] - 1s 6ms/step - loss: 3463.4214 - mae: 3463.4214 - val_loss: 4331.5674 - val_mae: 4331.5674
Epoch 63/80
186/186 [==============================] - 1s 6ms/step - loss: 3458.7466 - mae: 3458.7466 - val_loss: 4284.8052 - val_mae: 4284.8052
Epoch 64/80
186/186 [==============================] - 1s 7ms/step - loss: 3393.9421 - mae: 3393.9421 - val_loss: 3951.3020 - val_mae: 3951.3020
Epoch 65/80
186/186 [==============================] - 1s 6ms/step - loss: 3488.1306 - mae: 3488.1306 - val_loss: 4613.0337 - val_mae: 4613.0337
Epoch 66/80
186/186 [==============================] - 1s 6ms/step - loss: 3460.5879 - mae: 3460.5879 - val_loss: 4504.4458 - val_mae: 4504.4458
Epoch 67/80
186/186 [==============================] - 1s 6ms/step - loss: 3541.9238 - mae: 3541.9238 - val_loss: 3838.8936 - val_mae: 3838.8936
Epoch 68/80
186/186 [==============================] - 1s 6ms/step - loss: 3372.2231 - mae: 3372.2231 - val_loss: 4227.5322 - val_mae: 4227.5322
Epoch 69/80
186/186 [==============================] - 1s 6ms/step - loss: 3466.3721 - mae: 3466.3721 - val_loss: 4963.5342 - val_mae: 4963.5342
Epoch 70/80
186/186 [==============================] - 1s 6ms/step - loss: 3497.7900 - mae: 3497.7900 - val_loss: 4578.8525 - val_mae: 4578.8525
Epoch 71/80
186/186 [==============================] - 1s 6ms/step - loss: 3516.9812 - mae: 3516.9812 - val_loss: 4677.6841 - val_mae: 4677.6841
Epoch 72/80
186/186 [==============================] - 1s 6ms/step - loss: 3690.3848 - mae: 3690.3848 - val_loss: 4641.0586 - val_mae: 4641.0586
Epoch 73/80
186/186 [==============================] - 1s 6ms/step - loss: 3774.5103 - mae: 3774.5103 - val_loss: 4265.6299 - val_mae: 4265.6299
Epoch 74/80
186/186 [==============================] - 1s 6ms/step - loss: 3779.3188 - mae: 3779.3188 - val_loss: 5126.6113 - val_mae: 5126.6113
Epoch 75/80
186/186 [==============================] - 1s 6ms/step - loss: 3532.1343 - mae: 3532.1343 - val_loss: 4350.6646 - val_mae: 4350.6646
Epoch 76/80
186/186 [==============================] - 1s 6ms/step - loss: 3420.9280 - mae: 3420.9280 - val_loss: 4275.2705 - val_mae: 4275.2710
Epoch 77/80
186/186 [==============================] - 1s 6ms/step - loss: 3441.5981 - mae: 3441.5981 - val_loss: 4689.9268 - val_mae: 4689.9268
Epoch 78/80
186/186 [==============================] - 1s 6ms/step - loss: 3502.8140 - mae: 3502.8140 - val_loss: 4541.9790 - val_mae: 4541.9790
Epoch 79/80
186/186 [==============================] - 1s 6ms/step - loss: 3412.4294 - mae: 3412.4294 - val_loss: 4670.4180 - val_mae: 4670.4180
Epoch 80/80
186/186 [==============================] - 1s 6ms/step - loss: 3457.5254 - mae: 3457.5254 - val_loss: 4258.8521 - val_mae: 4258.8521

Compiling the model

In [27]:


# Get predictions on the test set
y_test_pred = model.predict(X_test1)  # Flatten to ensure 1D array

# Compute R² score on test set
r2_test = r2_score(y_test, y_test_pred)
print("R² Score on Test Data:", r2_test)

844/844 [==============================] - 2s 2ms/step
R² Score on Test Data: -0.08719544639647703

In [28]:


# Get predictions on validation data (already a NumPy array)
y_val_pred = model.predict(X_val_split)  # Ensure it's a 1D array

# Compute R² score
r2 = r2_score(y_val_split, y_val_pred)
print("R² Score on Validation Data:", r2)

79/79 [==============================] - 0s 2ms/step
R² Score on Validation Data: -0.10952527429200631

In [25]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

In [26]:
rf = RandomForestRegressor()
model=rf.fit(X_train_split,y_train_split)

In [27]:
y_pred2 = rf.predict(X_test1)

In [28]:
r2=rf.score(X_test1,y_test)
print('The R-square for Random Forest is: ', r2)

The R-square for Random Forest is:  0.9583720674711406