# Prediction of used car prices

Loading required libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

from sklearn.metrics import r2_score

# Import Data

In [2]:
df_tr=pd.read_csv('data_train.csv')
df_te=pd.read_csv('data_test.csv')
df_tr.shape, df_te.shape

((50000, 17), (27000, 17))

In [3]:
df_tr.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,Volkswagen,automatic,black,130000,2016,diesel,diesel,1.6,universal,False,owned,front,True,17,38,67,13150.0
1,Renault,manual,brown,149000,2012,gasoline,gasoline,1.6,sedan,False,owned,front,False,9,3,100,7500.0
2,Kia,automatic,brown,110000,2014,gasoline,gasoline,1.6,hatchback,False,owned,front,False,5,10,91,12200.0
3,Opel,automatic,other,255100,2007,gasoline,gasoline,1.8,hatchback,False,owned,front,False,10,4,91,4950.0
4,Mazda,manual,blue,650000,1999,gasoline,gasoline,2.0,sedan,False,owned,front,True,5,7,62,3000.0

Checking null values

In [4]:
df_tr.isnull().sum()

manufacturer_name         0
transmission              0
color                     0
odometer_value            0
year_produced             0
engine_fuel               0
engine_type               0
engine_capacity          15
body_type                 0
has_warranty              0
ownership                 0
type_of_drive             0
is_exchangeable           0
number_of_photos          0
number_of_maintenance     0
duration_listed           0
price_usd                 0
dtype: int64

In [5]:
df_te.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          5
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

Dropping na values

In [6]:
dataTrain=df_tr.dropna()
dataTest=df_te.dropna()

In [7]:
dataTrain.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [8]:
dataTrain.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [ ]:
dataTest.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_fuel              0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_photos         0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [10]:
dataTrain.shape, dataTest.shape

((49985, 17), (26995, 17))

In [11]:
dataTrain.dtypes

manufacturer_name         object
transmission              object
color                     object
odometer_value             int64
year_produced              int64
engine_fuel               object
engine_type               object
engine_capacity          float64
body_type                 object
has_warranty                bool
ownership                 object
type_of_drive             object
is_exchangeable             bool
number_of_photos           int64
number_of_maintenance      int64
duration_listed            int64
price_usd                float64
dtype: object

In [12]:
dataTrain.describe()

,odometer_value,year_produced,engine_capacity,number_of_photos,number_of_maintenance,duration_listed,price_usd
count,49985.000000,49985.000000,49985.000000,49985.000000,49985.000000,49985.000000,49985.000000
mean,249275.754426,2002.942143,2.056894,9.660958,16.257417,80.749385,6651.131653
std,136342.510114,8.065809,0.675106,6.144711,41.542444,113.620345,6462.573155
min,0.000000,1942.000000,0.200000,1.000000,1.000000,0.000000,1.000000
25%,158000.000000,1998.000000,1.600000,5.000000,2.000000,23.000000,2100.000000
50%,250000.000000,2003.000000,2.000000,8.000000,5.000000,59.000000,4800.000000
75%,325000.000000,2009.000000,2.300000,12.000000,16.000000,91.000000,8963.290000
max,1000000.000000,2019.000000,8.000000,86.000000,1273.000000,2232.000000,50000.000000

In [13]:
dataTest.describe()

,odometer_value,year_produced,engine_capacity,number_of_photos,number_of_maintenance,duration_listed,price_usd
count,26995.000000,26995.000000,26995.000000,26995.000000,26995.000000,26995.000000,26995.000000
mean,248253.283497,2002.935655,2.052027,9.623597,16.387776,80.270828,6610.308694
std,135573.549451,8.063814,0.663980,5.997012,46.373189,111.433261,6357.865198
min,0.000000,1942.000000,0.200000,1.000000,1.000000,0.000000,1.000000
25%,157000.000000,1998.000000,1.600000,5.000000,2.000000,23.000000,2150.000000
50%,249000.000000,2003.000000,2.000000,8.000000,5.000000,60.000000,4799.000000
75%,324000.000000,2009.000000,2.300000,12.000000,16.000000,91.000000,8950.000000
max,1000000.000000,2019.000000,8.000000,71.000000,1861.000000,2175.000000,50000.000000

Data preprosessing

In [14]:
X_train = pd.get_dummies(dataTrain, drop_first=True)
X_test = pd.get_dummies(dataTest, drop_first=True)
X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

In [15]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Converting boolen to int

In [16]:
# Identify boolean columns
bool_columns = X_train.select_dtypes(include='bool').columns

# Convert those columns to integers
X_train[bool_columns] = X_train[bool_columns].astype(int)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49985 entries, 0 to 49999
Data columns (total 95 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   odometer_value                   49985 non-null  int64
 1   year_produced                    49985 non-null  int64
 2   engine_capacity                  49985 non-null  float64
 3   has_warranty                     49985 non-null  int32
 4   is_exchangeable                  49985 non-null  int32
 5   number_of_photos                 49985 non-null  int64
 6   number_of_maintenance            49985 non-null  int64
 7   duration_listed                  49985 non-null  int64
 8   price_usd                        49985 non-null  float64
 9   manufacturer_name_Alfa Romeo     49985 non-null  int32
 10  manufacturer_name_Audi           49985 non-null  int32
 11  manufacturer_name_BMW            49985 non-null  int32
 12  manufacturer_name_Buick          49985 non-null  int32
 13  manufacturer_name_Cadillac       49985 non-null  int32
 14  manufacturer_name_Chery          49985 non-null  int32
 15  manufacturer_name_Chevrolet      49985 non-null  int32
 16  manufacturer_name_Chrysler       49985 non-null  int32
 17  manufacturer_name_Citroen        49985 non-null  int32
 18  manufacturer_name_Dacia          49985 non-null  int32
 19  manufacturer_name_Daewoo         49985 non-null  int32
 20  manufacturer_name_Dodge          49985 non-null  int32
 21  manufacturer_name_Fiat           49985 non-null  int32
 22  manufacturer_name_Ford           49985 non-null  int32
 23  manufacturer_name_Geely          49985 non-null  int32
 24  manufacturer_name_Great Wall     49985 non-null  int32
 25  manufacturer_name_Honda          49985 non-null  int32
 26  manufacturer_name_Hyundai        49985 non-null  int32
 27  manufacturer_name_Infiniti       49985 non-null  int32
 28  manufacturer_name_Iveco          49985 non-null  int32
 29  manufacturer_name_Jaguar         49985 non-null  int32
 30  manufacturer_name_Jeep           49985 non-null  int32
 31  manufacturer_name_Kia            49985 non-null  int32
 32  manufacturer_name_LADA           49985 non-null  int32
 33  manufacturer_name_Lancia         49985 non-null  int32
 34  manufacturer_name_Land Rover     49985 non-null  int32
 35  manufacturer_name_Lexus          49985 non-null  int32
 36  manufacturer_name_Lifan          49985 non-null  int32
 37  manufacturer_name_Lincoln        49985 non-null  int32
 38  manufacturer_name_Mazda          49985 non-null  int32
 39  manufacturer_name_Mercedes-Benz  49985 non-null  int32
 40  manufacturer_name_Mini           49985 non-null  int32
 41  manufacturer_name_Mitsubishi     49985 non-null  int32
 42  manufacturer_name_Nissan         49985 non-null  int32
 43  manufacturer_name_Opel           49985 non-null  int32
 44  manufacturer_name_Peugeot        49985 non-null  int32
 45  manufacturer_name_Pontiac        49985 non-null  int32
 46  manufacturer_name_Porsche        49985 non-null  int32
 47  manufacturer_name_Renault        49985 non-null  int32
 48  manufacturer_name_Rover          49985 non-null  int32
 49  manufacturer_name_Saab           49985 non-null  int32
 50  manufacturer_name_Seat           49985 non-null  int32
 51  manufacturer_name_Skoda          49985 non-null  int32
 52  manufacturer_name_SsangYong      49985 non-null  int32
 53  manufacturer_name_Subaru         49985 non-null  int32
 54  manufacturer_name_Suzuki         49985 non-null  int32
 55  manufacturer_name_Toyota         49985 non-null  int32
 56  manufacturer_name_Volkswagen     49985 non-null  int32
 57  manufacturer_name_Volvo          49985 non-null  int32
 58  manufacturer_name_ВАЗ            49985 non-null  int32
 59  manufacturer_name_ГАЗ            49985 non-null  int32
 60  manufacturer_name_ЗАЗ            49985 non-null  int32
 61  manufacturer_name_Москвич        49985 non-null  int32
 62  manufacturer_name_УАЗ            49985 non-null  int32
 63  transmission_manual              49985 non-null  int32
 64  color_blue                       49985 non-null  int32
 65  color_brown                      49985 non-null  int32
 66  color_green                      49985 non-null  int32
 67  color_grey                       49985 non-null  int32
 68  color_orange                     49985 non-null  int32
 69  color_other                      49985 non-null  int32
 70  color_red                        49985 non-null  int32
 71  color_silver                     49985 non-null  int32
 72  color_violet                     49985 non-null  int32
 73  color_white                      49985 non-null  int32
 74  color_yellow                     49985 non-null  int32
 75  engine_fuel_gas                  49985 non-null  int32
 76  engine_fuel_gasoline             49985 non-null  int32
 77  engine_fuel_hybrid-diesel        49985 non-null  int32
 78  engine_fuel_hybrid-petrol        49985 non-null  int32
 79  engine_type_gasoline             49985 non-null  int32
 80  body_type_coupe                  49985 non-null  int32
 81  body_type_hatchback              49985 non-null  int32
 82  body_type_liftback               49985 non-null  int32
 83  body_type_limousine              49985 non-null  int32
 84  body_type_minibus                49985 non-null  int32
 85  body_type_minivan                49985 non-null  int32
 86  body_type_pickup                 49985 non-null  int32
 87  body_type_sedan                  49985 non-null  int32
 88  body_type_suv                    49985 non-null  int32
 89  body_type_universal              49985 non-null  int32
 90  body_type_van                    49985 non-null  int32
 91  ownership_new                    49985 non-null  int32
 92  ownership_owned                  49985 non-null  int32
 93  type_of_drive_front              49985 non-null  int32
 94  type_of_drive_rear               49985 non-null  int32
dtypes: float64(2), int32(88), int64(5)
memory usage: 19.8 MB

In [17]:
# Identify boolean columns
bool_columns = X_test.select_dtypes(include='bool').columns

# Convert those columns to integers
X_test[bool_columns] = X_test[bool_columns].astype(int)
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26995 entries, 0 to 26999
Data columns (total 95 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   odometer_value                   26995 non-null  int64
 1   year_produced                    26995 non-null  int64
 2   engine_capacity                  26995 non-null  float64
 3   has_warranty                     26995 non-null  int32
 4   is_exchangeable                  26995 non-null  int32
 5   number_of_photos                 26995 non-null  int64
 6   number_of_maintenance            26995 non-null  int64
 7   duration_listed                  26995 non-null  int64
 8   price_usd                        26995 non-null  float64
 9   manufacturer_name_Alfa Romeo     26995 non-null  int32
 10  manufacturer_name_Audi           26995 non-null  int32
 11  manufacturer_name_BMW            26995 non-null  int32
 12  manufacturer_name_Buick          26995 non-null  int32
 13  manufacturer_name_Cadillac       26995 non-null  int32
 14  manufacturer_name_Chery          26995 non-null  int32
 15  manufacturer_name_Chevrolet      26995 non-null  int32
 16  manufacturer_name_Chrysler       26995 non-null  int32
 17  manufacturer_name_Citroen        26995 non-null  int32
 18  manufacturer_name_Dacia          26995 non-null  int32
 19  manufacturer_name_Daewoo         26995 non-null  int32
 20  manufacturer_name_Dodge          26995 non-null  int32
 21  manufacturer_name_Fiat           26995 non-null  int32
 22  manufacturer_name_Ford           26995 non-null  int32
 23  manufacturer_name_Geely          26995 non-null  int32
 24  manufacturer_name_Great Wall     26995 non-null  int32
 25  manufacturer_name_Honda          26995 non-null  int32
 26  manufacturer_name_Hyundai        26995 non-null  int32
 27  manufacturer_name_Infiniti       26995 non-null  int32
 28  manufacturer_name_Iveco          26995 non-null  int32
 29  manufacturer_name_Jaguar         26995 non-null  int32
 30  manufacturer_name_Jeep           26995 non-null  int32
 31  manufacturer_name_Kia            26995 non-null  int32
 32  manufacturer_name_LADA           26995 non-null  int32
 33  manufacturer_name_Lancia         26995 non-null  int32
 34  manufacturer_name_Land Rover     26995 non-null  int32
 35  manufacturer_name_Lexus          26995 non-null  int32
 36  manufacturer_name_Lifan          26995 non-null  int32
 37  manufacturer_name_Lincoln        26995 non-null  int32
 38  manufacturer_name_Mazda          26995 non-null  int32
 39  manufacturer_name_Mercedes-Benz  26995 non-null  int32
 40  manufacturer_name_Mini           26995 non-null  int32
 41  manufacturer_name_Mitsubishi     26995 non-null  int32
 42  manufacturer_name_Nissan         26995 non-null  int32
 43  manufacturer_name_Opel           26995 non-null  int32
 44  manufacturer_name_Peugeot        26995 non-null  int32
 45  manufacturer_name_Pontiac        26995 non-null  int32
 46  manufacturer_name_Porsche        26995 non-null  int32
 47  manufacturer_name_Renault        26995 non-null  int32
 48  manufacturer_name_Rover          26995 non-null  int32
 49  manufacturer_name_Saab           26995 non-null  int32
 50  manufacturer_name_Seat           26995 non-null  int32
 51  manufacturer_name_Skoda          26995 non-null  int32
 52  manufacturer_name_SsangYong      26995 non-null  int32
 53  manufacturer_name_Subaru         26995 non-null  int32
 54  manufacturer_name_Suzuki         26995 non-null  int32
 55  manufacturer_name_Toyota         26995 non-null  int32
 56  manufacturer_name_Volkswagen     26995 non-null  int32
 57  manufacturer_name_Volvo          26995 non-null  int32
 58  manufacturer_name_ВАЗ            26995 non-null  int32
 59  manufacturer_name_ГАЗ            26995 non-null  int32
 60  manufacturer_name_ЗАЗ            26995 non-null  int32
 61  manufacturer_name_Москвич        26995 non-null  int32
 62  manufacturer_name_УАЗ            26995 non-null  int32
 63  transmission_manual              26995 non-null  int32
 64  color_blue                       26995 non-null  int32
 65  color_brown                      26995 non-null  int32
 66  color_green                      26995 non-null  int32
 67  color_grey                       26995 non-null  int32
 68  color_orange                     26995 non-null  int32
 69  color_other                      26995 non-null  int32
 70  color_red                        26995 non-null  int32
 71  color_silver                     26995 non-null  int32
 72  color_violet                     26995 non-null  int32
 73  color_white                      26995 non-null  int32
 74  color_yellow                     26995 non-null  int32
 75  engine_fuel_gas                  26995 non-null  int32
 76  engine_fuel_gasoline             26995 non-null  int32
 77  engine_fuel_hybrid-diesel        26995 non-null  int64
 78  engine_fuel_hybrid-petrol        26995 non-null  int32
 79  engine_type_gasoline             26995 non-null  int32
 80  body_type_coupe                  26995 non-null  int32
 81  body_type_hatchback              26995 non-null  int32
 82  body_type_liftback               26995 non-null  int32
 83  body_type_limousine              26995 non-null  int32
 84  body_type_minibus                26995 non-null  int32
 85  body_type_minivan                26995 non-null  int32
 86  body_type_pickup                 26995 non-null  int32
 87  body_type_sedan                  26995 non-null  int32
 88  body_type_suv                    26995 non-null  int32
 89  body_type_universal              26995 non-null  int32
 90  body_type_van                    26995 non-null  int32
 91  ownership_new                    26995 non-null  int32
 92  ownership_owned                  26995 non-null  int32
 93  type_of_drive_front              26995 non-null  int32
 94  type_of_drive_rear               26995 non-null  int32
dtypes: float64(2), int32(87), int64(6)
memory usage: 10.8 MB

In [18]:
X_train1=X_train.drop(columns=['price_usd'])
y_train=X_train['price_usd']
#test set
X_test1=X_test.drop(columns=['price_usd'])
y_test=X_test['price_usd']

In [19]:
X_train1.shape, y_train.shape, X_test1.shape, y_test.shape

((49985, 94), (49985,), (26995, 94), (26995,))

In [20]:
from sklearn.model_selection import train_test_split

X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train1, y_train, test_size=0.05, random_state=42)

In [21]:
X_train_split.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47485 entries, 25051 to 15799
Data columns (total 94 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   odometer_value                   47485 non-null  int64
 1   year_produced                    47485 non-null  int64
 2   engine_capacity                  47485 non-null  float64
 3   has_warranty                     47485 non-null  int32
 4   is_exchangeable                  47485 non-null  int32
 5   number_of_photos                 47485 non-null  int64
 6   number_of_maintenance            47485 non-null  int64
 7   duration_listed                  47485 non-null  int64
 8   manufacturer_name_Alfa Romeo     47485 non-null  int32
 9   manufacturer_name_Audi           47485 non-null  int32
 10  manufacturer_name_BMW            47485 non-null  int32
 11  manufacturer_name_Buick          47485 non-null  int32
 12  manufacturer_name_Cadillac       47485 non-null  int32
 13  manufacturer_name_Chery          47485 non-null  int32
 14  manufacturer_name_Chevrolet      47485 non-null  int32
 15  manufacturer_name_Chrysler       47485 non-null  int32
 16  manufacturer_name_Citroen        47485 non-null  int32
 17  manufacturer_name_Dacia          47485 non-null  int32
 18  manufacturer_name_Daewoo         47485 non-null  int32
 19  manufacturer_name_Dodge          47485 non-null  int32
 20  manufacturer_name_Fiat           47485 non-null  int32
 21  manufacturer_name_Ford           47485 non-null  int32
 22  manufacturer_name_Geely          47485 non-null  int32
 23  manufacturer_name_Great Wall     47485 non-null  int32
 24  manufacturer_name_Honda          47485 non-null  int32
 25  manufacturer_name_Hyundai        47485 non-null  int32
 26  manufacturer_name_Infiniti       47485 non-null  int32
 27  manufacturer_name_Iveco          47485 non-null  int32
 28  manufacturer_name_Jaguar         47485 non-null  int32
 29  manufacturer_name_Jeep           47485 non-null  int32
 30  manufacturer_name_Kia            47485 non-null  int32
 31  manufacturer_name_LADA           47485 non-null  int32
 32  manufacturer_name_Lancia         47485 non-null  int32
 33  manufacturer_name_Land Rover     47485 non-null  int32
 34  manufacturer_name_Lexus          47485 non-null  int32
 35  manufacturer_name_Lifan          47485 non-null  int32
 36  manufacturer_name_Lincoln        47485 non-null  int32
 37  manufacturer_name_Mazda          47485 non-null  int32
 38  manufacturer_name_Mercedes-Benz  47485 non-null  int32
 39  manufacturer_name_Mini           47485 non-null  int32
 40  manufacturer_name_Mitsubishi     47485 non-null  int32
 41  manufacturer_name_Nissan         47485 non-null  int32
 42  manufacturer_name_Opel           47485 non-null  int32
 43  manufacturer_name_Peugeot        47485 non-null  int32
 44  manufacturer_name_Pontiac        47485 non-null  int32
 45  manufacturer_name_Porsche        47485 non-null  int32
 46  manufacturer_name_Renault        47485 non-null  int32
 47  manufacturer_name_Rover          47485 non-null  int32
 48  manufacturer_name_Saab           47485 non-null  int32
 49  manufacturer_name_Seat           47485 non-null  int32
 50  manufacturer_name_Skoda          47485 non-null  int32
 51  manufacturer_name_SsangYong      47485 non-null  int32
 52  manufacturer_name_Subaru         47485 non-null  int32
 53  manufacturer_name_Suzuki         47485 non-null  int32
 54  manufacturer_name_Toyota         47485 non-null  int32
 55  manufacturer_name_Volkswagen     47485 non-null  int32
 56  manufacturer_name_Volvo          47485 non-null  int32
 57  manufacturer_name_ВАЗ            47485 non-null  int32
 58  manufacturer_name_ГАЗ            47485 non-null  int32
 59  manufacturer_name_ЗАЗ            47485 non-null  int32
 60  manufacturer_name_Москвич        47485 non-null  int32
 61  manufacturer_name_УАЗ            47485 non-null  int32
 62  transmission_manual              47485 non-null  int32
 63  color_blue                       47485 non-null  int32
 64  color_brown                      47485 non-null  int32
 65  color_green                      47485 non-null  int32
 66  color_grey                       47485 non-null  int32
 67  color_orange                     47485 non-null  int32
 68  color_other                      47485 non-null  int32
 69  color_red                        47485 non-null  int32
 70  color_silver                     47485 non-null  int32
 71  color_violet                     47485 non-null  int32
 72  color_white                      47485 non-null  int32
 73  color_yellow                     47485 non-null  int32
 74  engine_fuel_gas                  47485 non-null  int32
 75  engine_fuel_gasoline             47485 non-null  int32
 76  engine_fuel_hybrid-diesel        47485 non-null  int32
 77  engine_fuel_hybrid-petrol        47485 non-null  int32
 78  engine_type_gasoline             47485 non-null  int32
 79  body_type_coupe                  47485 non-null  int32
 80  body_type_hatchback              47485 non-null  int32
 81  body_type_liftback               47485 non-null  int32
 82  body_type_limousine              47485 non-null  int32
 83  body_type_minibus                47485 non-null  int32
 84  body_type_minivan                47485 non-null  int32
 85  body_type_pickup                 47485 non-null  int32
 86  body_type_sedan                  47485 non-null  int32
 87  body_type_suv                    47485 non-null  int32
 88  body_type_universal              47485 non-null  int32
 89  body_type_van                    47485 non-null  int32
 90  ownership_new                    47485 non-null  int32
 91  ownership_owned                  47485 non-null  int32
 92  type_of_drive_front              47485 non-null  int32
 93  type_of_drive_rear               47485 non-null  int32
dtypes: float64(1), int32(88), int64(5)
memory usage: 18.5 MB

In [22]:
X_train_split.shape,y_train_split.shape,X_val_split.shape,y_val_split.shape,X_test1.shape,y_test.shape

((47485, 94), (47485,), (2500, 94), (2500,), (26995, 94), (26995,))

Model building

In [23]:
tf.random.set_seed(42)

# Build the model
model = tf.keras.Sequential()

# Input layer (automatically determined by input shape)
model.add(tf.keras.layers.InputLayer(input_shape=(X_train1.shape[1],)))

# Hidden layers
model.add(tf.keras.layers.Dense(128, activation=tf.keras.layers.LeakyReLU(alpha=0.1)))  # First hidden layer
model.add(tf.keras.layers.Dense(128, activation=tf.keras.layers.LeakyReLU(alpha=0.1)))  # Second hidden layer
model.add(tf.keras.layers.Dense(64, activation=tf.keras.layers.LeakyReLU(alpha=0.1)))
model.add(tf.keras.layers.Dense(64, activation=tf.keras.layers.LeakyReLU(alpha=0.1)))

# Output layer
model.add(tf.keras.layers.Dense(1))  # For regression, no activation function is used for the output layer

# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.00075)
model.compile(optimizer=optimizer, loss='mse', metrics=['mae'])

In [24]:
# Train the model
history = model.fit(X_train_split, y_train_split, 
                    epochs=80, 
                    batch_size=128, 
                    validation_data=(X_val_split, y_val_split))

Epoch 1/80
371/371 [==============================] - 4s 5ms/step - loss: 49129996.0000 - mae: 4706.0825 - val_loss: 29584982.0000 - val_mae: 3749.8127
Epoch 2/80
371/371 [==============================] - 2s 5ms/step - loss: 32670852.0000 - mae: 3913.3135 - val_loss: 29244338.0000 - val_mae: 3735.0564
Epoch 3/80
371/371 [==============================] - 2s 5ms/step - loss: 32183532.0000 - mae: 3864.2214 - val_loss: 32462828.0000 - val_mae: 3828.9880
Epoch 4/80
371/371 [==============================] - 2s 5ms/step - loss: 32018106.0000 - mae: 3860.6040 - val_loss: 29820728.0000 - val_mae: 3699.9053
Epoch 5/80
371/371 [==============================] - 2s 5ms/step - loss: 31746682.0000 - mae: 3832.2327 - val_loss: 29023898.0000 - val_mae: 3833.2312
Epoch 6/80
371/371 [==============================] - 2s 5ms/step - loss: 31474828.0000 - mae: 3814.5544 - val_loss: 30362946.0000 - val_mae: 4162.0610
Epoch 7/80
371/371 [==============================] - 2s 5ms/step - loss: 31167490.0000 - mae: 3794.8301 - val_loss: 31569176.0000 - val_mae: 3752.4229
Epoch 8/80
371/371 [==============================] - 2s 5ms/step - loss: 31129602.0000 - mae: 3794.8716 - val_loss: 28259064.0000 - val_mae: 3770.4272
Epoch 9/80
371/371 [==============================] - 2s 5ms/step - loss: 30725242.0000 - mae: 3766.2598 - val_loss: 28683948.0000 - val_mae: 3861.8491
Epoch 10/80
371/371 [==============================] - 2s 5ms/step - loss: 30594552.0000 - mae: 3774.3628 - val_loss: 29105554.0000 - val_mae: 3663.2524
Epoch 11/80
371/371 [==============================] - 2s 5ms/step - loss: 30324946.0000 - mae: 3762.5261 - val_loss: 29801146.0000 - val_mae: 4173.2046
Epoch 12/80
371/371 [==============================] - 2s 5ms/step - loss: 29805348.0000 - mae: 3744.6897 - val_loss: 27538074.0000 - val_mae: 3633.8081
Epoch 13/80
371/371 [==============================] - 2s 5ms/step - loss: 28728302.0000 - mae: 3664.3879 - val_loss: 27179556.0000 - val_mae: 3909.7104
Epoch 14/80
371/371 [==============================] - 2s 5ms/step - loss: 28683580.0000 - mae: 3681.6755 - val_loss: 25444130.0000 - val_mae: 3544.1316
Epoch 15/80
371/371 [==============================] - 2s 5ms/step - loss: 28043034.0000 - mae: 3634.0105 - val_loss: 26275210.0000 - val_mae: 3511.2288
Epoch 16/80
371/371 [==============================] - 2s 5ms/step - loss: 28186680.0000 - mae: 3641.3347 - val_loss: 25284076.0000 - val_mae: 3473.8640
Epoch 17/80
371/371 [==============================] - 2s 5ms/step - loss: 27465174.0000 - mae: 3597.7004 - val_loss: 25040122.0000 - val_mae: 3552.7769
Epoch 18/80
371/371 [==============================] - 2s 5ms/step - loss: 27177424.0000 - mae: 3573.0479 - val_loss: 25164044.0000 - val_mae: 3434.9180
Epoch 19/80
371/371 [==============================] - 2s 6ms/step - loss: 27095458.0000 - mae: 3574.4771 - val_loss: 23978970.0000 - val_mae: 3426.7231
Epoch 20/80
371/371 [==============================] - 2s 5ms/step - loss: 26213448.0000 - mae: 3512.4089 - val_loss: 22836388.0000 - val_mae: 3445.3467
Epoch 21/80
371/371 [==============================] - 2s 5ms/step - loss: 26208874.0000 - mae: 3532.0750 - val_loss: 26412010.0000 - val_mae: 4054.9976
Epoch 22/80
371/371 [==============================] - 2s 5ms/step - loss: 25491182.0000 - mae: 3485.3755 - val_loss: 21379250.0000 - val_mae: 3252.1401
Epoch 23/80
371/371 [==============================] - 2s 5ms/step - loss: 24836232.0000 - mae: 3441.2043 - val_loss: 21368148.0000 - val_mae: 3256.9734
Epoch 24/80
371/371 [==============================] - 2s 5ms/step - loss: 24993474.0000 - mae: 3459.9385 - val_loss: 21046768.0000 - val_mae: 3233.6594
Epoch 25/80
371/371 [==============================] - 2s 5ms/step - loss: 23576550.0000 - mae: 3362.9097 - val_loss: 21862722.0000 - val_mae: 3173.6938
Epoch 26/80
371/371 [==============================] - 2s 5ms/step - loss: 22774042.0000 - mae: 3305.0073 - val_loss: 24618456.0000 - val_mae: 3332.1536
Epoch 27/80
371/371 [==============================] - 2s 5ms/step - loss: 22816112.0000 - mae: 3318.5923 - val_loss: 19704154.0000 - val_mae: 3089.0259
Epoch 28/80
371/371 [==============================] - 2s 5ms/step - loss: 22797834.0000 - mae: 3316.2190 - val_loss: 22000016.0000 - val_mae: 3159.8000
Epoch 29/80
371/371 [==============================] - 2s 5ms/step - loss: 22145230.0000 - mae: 3260.5850 - val_loss: 20308576.0000 - val_mae: 3254.2500
Epoch 30/80
371/371 [==============================] - 2s 5ms/step - loss: 21608518.0000 - mae: 3238.9695 - val_loss: 19083248.0000 - val_mae: 3122.4165
Epoch 31/80
371/371 [==============================] - 2s 5ms/step - loss: 21240336.0000 - mae: 3201.6052 - val_loss: 17737886.0000 - val_mae: 3023.1948
Epoch 32/80
371/371 [==============================] - 2s 5ms/step - loss: 20768878.0000 - mae: 3177.1499 - val_loss: 18283850.0000 - val_mae: 2954.9268
Epoch 33/80
371/371 [==============================] - 2s 5ms/step - loss: 20347280.0000 - mae: 3138.8159 - val_loss: 21743740.0000 - val_mae: 3536.3352
Epoch 34/80
371/371 [==============================] - 2s 5ms/step - loss: 20818872.0000 - mae: 3166.3091 - val_loss: 17493404.0000 - val_mae: 3087.7305
Epoch 35/80
371/371 [==============================] - 2s 5ms/step - loss: 19883634.0000 - mae: 3105.8560 - val_loss: 17087338.0000 - val_mae: 2952.6294
Epoch 36/80
371/371 [==============================] - 2s 5ms/step - loss: 20821038.0000 - mae: 3199.8252 - val_loss: 17217768.0000 - val_mae: 3084.8862
Epoch 37/80
371/371 [==============================] - 2s 5ms/step - loss: 20217932.0000 - mae: 3141.0039 - val_loss: 17280112.0000 - val_mae: 3025.5715
Epoch 38/80
371/371 [==============================] - 2s 5ms/step - loss: 18933158.0000 - mae: 3031.3586 - val_loss: 16978528.0000 - val_mae: 2892.5981
Epoch 39/80
371/371 [==============================] - 2s 5ms/step - loss: 19535084.0000 - mae: 3091.6917 - val_loss: 16118859.0000 - val_mae: 2800.4067
Epoch 40/80
371/371 [==============================] - 2s 5ms/step - loss: 19347504.0000 - mae: 3073.9500 - val_loss: 16293442.0000 - val_mae: 2892.2212
Epoch 41/80
371/371 [==============================] - 2s 5ms/step - loss: 18949358.0000 - mae: 3035.6379 - val_loss: 22771766.0000 - val_mae: 3282.8547
Epoch 42/80
371/371 [==============================] - 2s 5ms/step - loss: 17884604.0000 - mae: 2950.4836 - val_loss: 16736562.0000 - val_mae: 3098.5432
Epoch 43/80
371/371 [==============================] - 2s 5ms/step - loss: 19306574.0000 - mae: 3070.8586 - val_loss: 17678506.0000 - val_mae: 2887.3689
Epoch 44/80
371/371 [==============================] - 2s 5ms/step - loss: 18881828.0000 - mae: 3053.3694 - val_loss: 16916596.0000 - val_mae: 2846.7498
Epoch 45/80
371/371 [==============================] - 2s 5ms/step - loss: 17751896.0000 - mae: 2954.3904 - val_loss: 16179156.0000 - val_mae: 2735.8130
Epoch 46/80
371/371 [==============================] - 2s 5ms/step - loss: 18185078.0000 - mae: 2989.0139 - val_loss: 17127076.0000 - val_mae: 2858.0586
Epoch 47/80
371/371 [==============================] - 2s 5ms/step - loss: 17435240.0000 - mae: 2927.0344 - val_loss: 14825713.0000 - val_mae: 2733.6018
Epoch 48/80
371/371 [==============================] - 2s 5ms/step - loss: 17430108.0000 - mae: 2929.0400 - val_loss: 15791476.0000 - val_mae: 2735.1272
Epoch 49/80
371/371 [==============================] - 2s 5ms/step - loss: 17160984.0000 - mae: 2900.9111 - val_loss: 15326003.0000 - val_mae: 2768.5381
Epoch 50/80
371/371 [==============================] - 2s 5ms/step - loss: 17229750.0000 - mae: 2914.2363 - val_loss: 14610006.0000 - val_mae: 2789.2278
Epoch 51/80
371/371 [==============================] - 2s 5ms/step - loss: 17669146.0000 - mae: 2955.9697 - val_loss: 16272676.0000 - val_mae: 2790.0132
Epoch 52/80
371/371 [==============================] - 2s 5ms/step - loss: 17604580.0000 - mae: 2947.2014 - val_loss: 15246651.0000 - val_mae: 2713.9521
Epoch 53/80
371/371 [==============================] - 2s 5ms/step - loss: 16765011.0000 - mae: 2872.5183 - val_loss: 19385278.0000 - val_mae: 3003.6194
Epoch 54/80
371/371 [==============================] - 2s 5ms/step - loss: 18138412.0000 - mae: 2979.4790 - val_loss: 15134135.0000 - val_mae: 2800.1868
Epoch 55/80
371/371 [==============================] - 2s 5ms/step - loss: 16608036.0000 - mae: 2859.5381 - val_loss: 15518872.0000 - val_mae: 2701.0107
Epoch 56/80
371/371 [==============================] - 2s 5ms/step - loss: 16209190.0000 - mae: 2819.9783 - val_loss: 20716874.0000 - val_mae: 3141.5076
Epoch 57/80
371/371 [==============================] - 2s 5ms/step - loss: 18094912.0000 - mae: 2972.9089 - val_loss: 19594214.0000 - val_mae: 3358.4268
Epoch 58/80
371/371 [==============================] - 2s 6ms/step - loss: 16522859.0000 - mae: 2847.6387 - val_loss: 20275212.0000 - val_mae: 3637.4080
Epoch 59/80
371/371 [==============================] - 2s 5ms/step - loss: 17283476.0000 - mae: 2921.0925 - val_loss: 14708266.0000 - val_mae: 2671.8513
Epoch 60/80
371/371 [==============================] - 2s 5ms/step - loss: 16458410.0000 - mae: 2841.0110 - val_loss: 15263728.0000 - val_mae: 2891.7754
Epoch 61/80
371/371 [==============================] - 2s 5ms/step - loss: 16385564.0000 - mae: 2835.3987 - val_loss: 17457434.0000 - val_mae: 2967.6523
Epoch 62/80
371/371 [==============================] - 2s 5ms/step - loss: 16719572.0000 - mae: 2877.6216 - val_loss: 14230903.0000 - val_mae: 2740.0486
Epoch 63/80
371/371 [==============================] - 2s 5ms/step - loss: 16088185.0000 - mae: 2820.0930 - val_loss: 21574730.0000 - val_mae: 3182.1890
Epoch 64/80
371/371 [==============================] - 2s 5ms/step - loss: 16232198.0000 - mae: 2821.1885 - val_loss: 13930988.0000 - val_mae: 2671.7251
Epoch 65/80
371/371 [==============================] - 2s 5ms/step - loss: 16766140.0000 - mae: 2867.6392 - val_loss: 16439886.0000 - val_mae: 2775.2722
Epoch 66/80
371/371 [==============================] - 2s 5ms/step - loss: 16209978.0000 - mae: 2829.8396 - val_loss: 15592045.0000 - val_mae: 2702.8630
Epoch 67/80
371/371 [==============================] - 2s 5ms/step - loss: 16671018.0000 - mae: 2855.5884 - val_loss: 14222336.0000 - val_mae: 2762.8843
Epoch 68/80
371/371 [==============================] - 2s 5ms/step - loss: 15542451.0000 - mae: 2762.1458 - val_loss: 15101944.0000 - val_mae: 2929.8257
Epoch 69/80
371/371 [==============================] - 2s 5ms/step - loss: 15912645.0000 - mae: 2801.6809 - val_loss: 36377128.0000 - val_mae: 4228.8779
Epoch 70/80
371/371 [==============================] - 2s 5ms/step - loss: 24967042.0000 - mae: 3445.4426 - val_loss: 17388612.0000 - val_mae: 3124.4575
Epoch 71/80
371/371 [==============================] - 2s 5ms/step - loss: 18800944.0000 - mae: 3038.8918 - val_loss: 22709244.0000 - val_mae: 3878.5903
Epoch 72/80
371/371 [==============================] - 2s 5ms/step - loss: 16793606.0000 - mae: 2880.2021 - val_loss: 14770826.0000 - val_mae: 2640.4399
Epoch 73/80
371/371 [==============================] - 2s 5ms/step - loss: 16646387.0000 - mae: 2872.6389 - val_loss: 17096110.0000 - val_mae: 2802.0923
Epoch 74/80
371/371 [==============================] - 2s 6ms/step - loss: 17131728.0000 - mae: 2892.7295 - val_loss: 16143760.0000 - val_mae: 2929.6941
Epoch 75/80
371/371 [==============================] - 2s 5ms/step - loss: 16149736.0000 - mae: 2817.8838 - val_loss: 21094106.0000 - val_mae: 3774.5068
Epoch 76/80
371/371 [==============================] - 2s 5ms/step - loss: 15917195.0000 - mae: 2802.7346 - val_loss: 15727047.0000 - val_mae: 2764.0259
Epoch 77/80
371/371 [==============================] - 2s 5ms/step - loss: 15649722.0000 - mae: 2771.2351 - val_loss: 14304749.0000 - val_mae: 2589.6931
Epoch 78/80
371/371 [==============================] - 2s 6ms/step - loss: 16639091.0000 - mae: 2871.0557 - val_loss: 15582416.0000 - val_mae: 2687.4600
Epoch 79/80
371/371 [==============================] - 2s 5ms/step - loss: 15230907.0000 - mae: 2728.7146 - val_loss: 15169094.0000 - val_mae: 2654.3418
Epoch 80/80
371/371 [==============================] - 2s 6ms/step - loss: 15112782.0000 - mae: 2718.5984 - val_loss: 14886465.0000 - val_mae: 2609.6624

Compiling the model

In [25]:


# Get predictions on the test set
y_test_pred = model.predict(X_test1).flatten()  # Flatten to ensure 1D array

# Convert y_test to NumPy array (if it's a Pandas Series)
y_test_np = np.array(y_test)

# Compute R² score on test set
r2_test = r2_score(y_test_np, y_test_pred)
print("R² Score on Test Data:", r2_test)

844/844 [==============================] - 2s 2ms/step
R² Score on Test Data: 0.64406574819529

In [26]:


# Get predictions on validation data (already a NumPy array)
y_val_pred = model.predict(X_val_split).flatten()  # Ensure it's a 1D array

# Convert y_valid to a NumPy array (if it's a Pandas Series)
y_valid_np = np.array(y_val_split)

# Compute R² score
r2 = r2_score(y_valid_np, y_val_pred)
print("R² Score on Validation Data:", r2)

79/79 [==============================] - 0s 2ms/step
R² Score on Validation Data: 0.6043826994273249